# Take bot token in telegram @BotFather
BOT_TOKEN=TOKEN

# Bot use individual redis instance. Consider it if you deploy it on single VPS/VDS
REDIS_PASSWORD=Cls89EJio2BO*DD
REDIS_MAX_CONNECTIONS=50
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

USER_REQ_LIMIT=50
USER_REQ_WINDOW_SECONDS=60
SHOP_SUB_PLANS_TTL=3600

# Add tg-bot server in WireGuard Private Network. (`wireguard_setup/add_wg_client.sh`)
SUB_SERVICE_URL=http://SUB_SERVICE_PRIVATE_IP:SUB_PORT
ADMIN_TG_ID=YOUR_TG_USER_ID
APP_MODE=docker

MESSAGE_START='
🛡 Добро пожаловать в VPN!

VPN Который надёжный, безопасный и т.д.

👤 Ваш аккаунт, <b>{USER_TG_FIRST_NAME} {USER_TG_LAST_NAME}</b>:

🆔 ID: <code>{USER_TG_ID}</code>
🕘 Дата регистрации в боте: <b>{USER_REGISTERED_DATE}</b>
📦 Подписок на аккаунте: <b>{USER_SUB_COUNT}</b>

👇 Выберите нужный раздел в меню ниже.
'
MESSAGE_PROFILE='
👤 <b>Личный кабинет</b>

Добро пожаловать, <b>{USER_TG_USERNAME}</b>!

📦 Подписок на аккаунте: <b>{USER_SUB_COUNT}</b>

🕘 Дата регистрации в боте: {USER_REGISTERED_DATE}


👇 Выберите нужный раздел.
'
MESSAGE_ABOUT='
🔗 <b>Наши ссылки</b>

🛡  <a href="https://google.com">Ссылка на тг канал</a>

📄 <a href="https://google.com">Пользовательское соглашение</a>
🔒 <a href="https://google.com">Политика конфиденциальности</a>
'
MESSAGE_SUBSCRIPTIONS_SHOP_INTRO='
💎 <b>Управление подписками</b>

В этом разделе вы можете:

🔄 Продлить действующие подписки.
➕ Приобрести новые подписки VPN.

👇 Выберите нужное действие.
'
MESSAGE_SUBSCRIPTIONS_SHOP_EXTENT='
<b>{SUB_TITLE}</b>

🔐 О подписке
{SUB_DESCRIPTION}

🌐 Количество локаций для покдлючения: <b>{SUB_NODES_COUNT}</b>

📱 Устройства неограничены

👇 Выберите тариф
'
MESSAGE_USER_PROFILE_SUBS_INTRO='
В этом разделе отображаются все ваши активные и завершенные подписки.

Здесь вы можете посмотреть детали каждой подписки и при необходимости продлить

👇 Выберите нужную подписку ниже. Используйте "<" и ">"
'
MESSAGE_SUBSCRIPTIONS_USER_EXTENT='
<b>{USER_SUB_TITLE}</b>

<code>{USER_SUB_LINK}</code>

{USER_SUB_STATUS}

📊 Трафик. Использовано/Доступно
Сегодня: <b>{USER_SUB_TRAFFIC_USED_DAY}GB</b>/<b>{USER_SUB_TRAFFIC_LIMIT_DAY}GB</b>
Всего: <b>{USER_SUB_TRAFFIC_USED}GB</b>/<b>{USER_SUB_TRAFFIC_LIMIT}GB</b>

⏳ Срок действия до: <b>{USER_SUB_EXPIRE_DATE}</b>
Дата покупки: <b>{USER_SUB_CREATED_AT}</b>

📱 Устройства неограничены
'
MESSAGE_SUBSCRIPTIONS_OFFERS_INTRO='
💎 Продление подписки:

<code>{USER_SUB_LINK}</code>

Текущий срок действия:
⏳ До <b>{USER_SUB_EXPIRE_DATE}</b>

📱 Устройства неограничены

👇 Выберите период продления.
'
MESSAGE_SUBSCRIPTIONS_OFFERS_EXTENT='
{SUB_COST}₽ / {SUB_TTL_DAYS} дней / {SUB_TRAFFIC_LIMIT_DAY} GB/день / {SUB_TRAFFIC_LIMIT} GB
'
MESSAGE_PAY_WINDOW='
⚡️ Оплата действительна в течение 15 минут

Тарифный план: <b>{SUB_TITLE}</b>

Сумма: <b>{PAY_AMOUNT}</b> ₽

Нажмите кнопку «Оплатить» для перехода на страницу оплаты.

⚙️ После успешной оплаты вы автоматически получите ссылку для подключения
'